[submodule "squantorLibC"]
	path = squantorLibC
	url = https://github.com/Squantor/squantorLibC.git
[submodule "squantorMinUnit"]
	path = squantorMinUnit
	url = https://github.com/Squantor/squantorMinUnit.git
